* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .card-price {
    font-size: 25px;
  }
  .card-image {
    width: 90%;
  }
  .cart {
    width: 70%;
    padding: 110px 5px 20px;
  }
 
  .cart-resume{
    font-size: 1.6rem;
  }
}
